<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awei.server.mapper.AdminRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.awei.server.pojo.AdminRole">
        <id column="id" property="id" />
        <result column="adminId" property="adminId" />
        <result column="rid" property="rid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, adminId, rid
    </sql>

    <!-- 更新操作员角色-->
    <update id="addAdminRole">
        insert into  t_admin_role(adminId,rid) values
            <foreach collection="rids" item="rid" separator=",">
                (#{adminId},#{rid})
            </foreach>
    </update>

</mapper>
